# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/

# dotnet
*.db
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code
.vscode/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
**/docker-compose.override.yml

# Environment files
.env
.env.local

# Publish
publish/

# macOS
.DS_Store

# node
node_modules/
